<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Joseph Schilz</title>
    <link rel="stylesheet" href="https://latex.now.sh/style.css">
    <link rel="stylesheet" href="https://www.schilz.org/static/style.css">
  </head>
  <body class="libertinus">
    <h1>Joseph Schilz</h1>
    <div class="abstract">
      <h2>Abstract</h2>
      <p>Husband, software engineer.</p>
    </div>

  <main>
    {% for post in posts %}
    <article>
        {{ post.html_content }}
    </article>
    {% endfor %}
  </main>

  </body>
</html>


